#name,
#age {
    margin-bottom: 8px;
    width: 100%;
    border-radius: 4px;
}

.select {
    padding: 8px;
    width: 80%;
}

label {
    font-size: smaller;
    font-weight: bold;
}

button {
    margin-top: 8px;
}
